body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 80%;
}

/* .container div{
    flex: 1;
} */

h1{
    font-size: 3rem;
}